.back {
    background-image: url('/images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0; 
}

.form-login {
    margin-bottom: 200px;
    background-color: rgb(49,145,221);
    font-weight: 700;
    color: white;
}

.input-login{
    background-color: rgb(68, 146, 228);
    border-radius: 8px;
}

.btn.login {
    background-color: #0069d9;
    border-radius: 8px;
    border: 0.5px solid;
}

.aciuni-info {
    font-weight: 600;
    padding-top: 8px;
    padding-left: 12px;
}

.actiuni-role {
    float: right;
    padding-right: 10px;
    display: inline-block;
}

.text-black {
    color: black!important;
}

.dropdown-menu {
    background-color: rgb(49,145,221);
}

.admin-link {
    color: black;
}

.backg {
    background-color: rgb(0,0,254)
}

.modal-design {
    background-color: rgb(49,145,221);
    border-radius: 13px;
    width: 700px;
}

.modal-cumparare {
    background-color: rgb(49,145,221);
    border-radius: 13px;
}

.add-currency {
    color: black !important;
    text-decoration: none !important;
}